input[type=email],
[type=text],
[type=password] {
    width: 90%;
    height: 60px;
    margin: auto;
}


input[type=email],
[type=text],
[type=password]::placeholder {
    text-align: center;
}

@media screen and (max-width: '500px') {

    input[type=email],
    [type=text],
    [type=password] {
        width: 50%;
    }
}

.submit-btn {
    align-self: center;
    margin-top: 10px;
    width: 50%;
    border: none;
    border-radius: 12px;
    height: 50px;
    background-color: rgb(8, 134, 252);
    color: white;
    font-size: 16px;
}